<div class="wb-tabs">
	<div class="tabpanels">
		{% if instance.tab1_title %}
		<details id="{{ instance.tab1_slug }}">
			<summary>{{ instance.tab1_title }}</summary>
			{{ instance.tab1_text }}
		</details>
		{% endif %}
		{% if instance.tab2_title %}
		<details id="{{ instance.tab2_slug }}">
			<summary>{{ instance.tab2_title }}</summary>
			{{ instance.tab2_text }}
		</details>
		{% endif %}
		{% if instance.tab3_title %}
		<details id="{{ instance.tab3_slug }}">
			<summary>{{ instance.tab3_title }}</summary>
			{{ instance.tab3_text }}
		</details>
		{% endif %}
		{% if instance.tab4_title %}
		<details id="{{ instance.tab4_slug }}">
			<summary>{{ instance.tab4_title }}</summary>
			{{ instance.tab4_text }}
		</details>
		{% endif %}
		{% if instance.tab5_title %}
		<details id="{{ instance.tab5_slug }}">
			<summary>{{ instance.tab5_title }}</summary>
			{{ instance.tab5_text }}
		</details>
		{% endif %}
		{% if instance.tab6_title %}
		<details id="{{ instance.tab6_slug }}">
			<summary>{{ instance.tab6_title }}</summary>
			{{ instance.tab6_text }}
		</details>
		{% endif %}
		{% if instance.tab7_title %}
		<details id="{{ instance.tab7_slug }}">
			<summary>{{ instance.tab7_title }}</summary>
			{{ instance.tab7_text }}
		</details>
		{% endif %}
	</div>
</div>